.THIS{
    font-family: 'Noto Sans';
    color: rgb(61, 63, 66);
    font-weight: 400;
}
.quick-help .tutorials {
	text-align: left !important;
    margin: 20px auto;
    display: inline-block;
    width: 48%;
    min-height: 350px;
    background-color: rgb(250, 250, 250);	
    border-radius: 8px;
    padding: 30px;
}
.quick-help {
    display: flex;
    justify-content: center;
    max-width: 1280px;
    margin: auto;
}
.quick-help .tutorials .title {
	font-size: 24px;
    margin-left: 10px;  
}

.quick-help .tutorials a {
	font-size: 16px;
    line-height: 27px;
	color: rgb(45, 98, 183);
	padding: 5px 0;
	display: block;
	font-weight: 700;
    font-family: 'Noto Sans Bold';
}
.services{
    padding: 12px 20px 20px 10px;
    min-height: 170px;
    border-top:1px solid rgb(68, 95, 135);
    margin-top: 10px;
}